@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100vw;
}

.logo {
    font-size: 32px;
    text-transform: uppercase;
    color: #a34ec2;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #a34ec2;
    border-radius: 10px;
    transition: 0.3s ease;
}

.menu li:hover a {
    color: #fff;
}

.menu li {
    padding: 5px;
    white-space: nowrap;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

p {
    padding-top: 88px;
}

@media (max-width: 1120px) {
    nav {
        position: static;
    }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        text-align: center;
        padding: 16px 0;
        background-color: #dedede;
        width: 200px;
        border-radius: 10px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #a34ec2;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
        color: #000;
    }

    p {
        padding-top: 0;
    }
}